table {
	border-collapse: collapse;
	border: #d0d0d0 1px solid;
	width: 100%;
}

th {
	font-weight: bold;
	color: A01010;
	width: 100%;
	background-color:#D0D0D0;
}

td {
	border: #d0d0d0 1px solid;
}

td.expected {
	background-color:#E0E0E0;
}

td.title {
	width: 15%;
}

td.errorCode {
	width: 10%;
}

body {
	font-family: verdana, arial, helvetica;
}